<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PinTu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4DA96D11878E6CA8FCC1F216533A829555D48A19</string>
				<key>dateExpires</key>
				<string>12/18/27</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2867UNTJFF.com.lianjia.decoration.workflow.home</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2867UNTJFF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PinTu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3174e991-03b8-454c-920d-d87b3505db38</string>
				<key>dateExpires</key>
				<string>12/8/26</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.lianjia.decoration.workflow.home</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2867UNTJFF</string>
				<key>name</key>
				<string>Lianjia Internet Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
